@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 150px;
}

.header-nav,
.user-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 35%;
}

.search-product {
  display: flex;
  align-items: center;
  background: #eaeaea;
  padding: 7px;
  border-radius: 5px;
  width: 70%;
}

/* .search-product input:focus {
  background: white;
  border: 1px solid #4f5362;
} */
.search-product span {
  color: #4f5362;
  font-weight: 200;
}
.search-product input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.7rem;
  width: 100%;
}

.products-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin: 2% auto;
  max-width: 1080px;
}

.product-banner {
  width: 90%;
  margin-top: 50px;
}

.product-banner img {
  width: 100%;
  border-radius: 10px;
}

.main-heading {
  width: 90%;
  margin: 0 6%;
}
.main-heading h1 {
  margin: 0;
  font-weight: 600;
}
.main-heading div {
  width: 160px;
  height: 2px;
  background-color: #fbd139;
  display: block;
  margin: 6px 0 0 2px;
}
.product {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
  border-radius: 5px;
  min-width: 20%;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  cursor: pointer;
}

.product-img img {
  width: 100%;
  border-radius: 2px;
}

.product-img {
  position: relative;
}

.fit-type p {
  margin: 0;
}

.ratings p {
  margin: 0;
}

.fit-type {
  position: absolute;
  background-color: #00000063;
  color: white;
  text-transform: uppercase;
  font-size: 0.5rem;
  top: 0;
  padding: 5px;
}

.ratings {
  position: absolute;
  bottom: 5%;
  font-size: 0.6rem;
  background-color: #f7f7f7 !important;
  padding: 1px 5px;
}

.ratings i {
  color: #ffc700 !important;
}

.product-img:hover {
  transform: scale(1.015);
  filter: opacity(0.9);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-details {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-action span {
  font-size: 1.4rem;
  font-weight: 200;
  margin-left: 2px;
}

.heading-font {
  font-size: 12px !important;
  color: #4f5362;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subheading-font {
  font-size: 10px !important;
  line-height: 12px !important;
  margin: 0;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  color: #4f5362;
}

.product-price p {
  font-weight: 600;
  font-size: 0.9rem;
}

.product-price p span {
  text-decoration: line-through;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(124, 124, 124);
}

.product-additional-details p {
  margin: 0;
  font-size: 0.8rem;
  border: 1px solid lightslategray;
  padding: 3px 5px;
  color: lightslategray;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

footer p {
  font-size: 1.25rem;
  font-weight: 700;
  color: yellow;
}
